<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.dao.UserDao">

    <resultMap id="login" type="User">
        <id column="login_id" property="loginId"></id>
        <result column="password" property="password"></result>
    </resultMap>
    <!--int checkLogin();-->
    <select id="login" resultMap="login">
      select * from user where login_id = #{loginId}
    </select>
</mapper>
